:root {
  --header-height: 99px;
}

@media (max-width: 866px) {
  :root {
    --header-height: 90px;
  }
}
@media (max-width: 830px) {
  :root {
    --header-height: 112.5px;
  }
}
@media (max-width: 800px) {
  :root {
    --header-height: 169px;
  }
}

.sidebar {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  width: 300px;
  height: calc(100vh - var(--header-height));
  backdrop-filter: blur(8px);
  background: rgba(1, 25, 65, 0.165);
  color: rgba(255, 255, 255, 0.808);
  overflow-y: auto;
  z-index: 1000;
}

.sidebar.closed {
  width: 0px;
  overflow: hidden;
}


.lake-list {
  padding: 16px;
}

.lake-list h3 {
  margin-top: 0;
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.region-group h4 {
  cursor: pointer;
  user-select: none;
  margin: 10px 0 6px;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 4px;
}

.lake-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lake-list li {
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.2px;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  transition: background 0.2s, transform 0.2s;
}

.lake-list li:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateX(3px);
}

/* nested lists indentation */
.lake-list li ul li {
  padding-left: 16px;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
}




.region-group h4 {
  cursor: pointer;
  user-select: none;
}
